---
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
import PojectsSection from '../components/PojectsSection.astro';
import SectionContainer from '../components/SectionContainer.astro';
import RuteIcon from '../icons/RuteIcon.astro';
import DesktopIcon from '../icons/DesktopIcon.astro'
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title=" Juan Pablo Riglos, Desarrollador y Programador web 游"
description="Bienvenidos a mi porfolio, soy Juan Pablo Riglos, Frontend developer con mas de 3 a침os de experiencia, hecha un vistazo a mis trabajos previos y no dudes en contactarme.">
	<main class="mt-24 sm:mt-64 lg:mt-44">
	<SectionContainer id="top">
	<header class="">  
	<h1 class=" font-bold text-3xl">Bienvenidos, soy <span class="hover:cursor-pointer hover:text-[rgb(79,158,238)]"  > <a href="https://www.linkedin.com/in/juanpabloriglos/" target="_blank" >Juan Pablo Riglos</a> 
	</span>
	<br> 
	<bold class="text-orange-500">Frontend Developer</bold></h1> 
</header>
<article>
	<h2 class=" font-semibold text-lg text-pretty"> Argentino 游뷣릖 <span class="text-orange-400">con m치s de 3 a침os</span> metiendo los dedos en el teclado, en busca del constante crecimiento, y en p칩s de lograr <span class="text-orange-400">soluciones digitales de calidad. </span> </h2>
</article>
	</SectionContainer>
	<SectionContainer id="experiencia">
		<header class="flex flex-nowrap gap-4"> 
			<h2 class="mb-8 text-gray-200/90 font-semibold text-xl text-pretty"> Experiencia 
			</h2>
			<RuteIcon/>
		</header>
		<ExperienceTimeline/>
	</SectionContainer>

	<SectionContainer id="proyectos">
		<header class="flex flex-nowrap gap-4">
			<h2 class="mb-8 text-gray-200/90 font-semibold text-xl text-pretty"> Proyectos </h2>
			<DesktopIcon class="size-10"/>
		</header>
		<PojectsSection/>
	</SectionContainer>

	<SectionContainer id="about">
		<AboutMe/>
	</SectionContainer>
	</main>
</Layout>

<style>
	
</style>
