---
import Hero from '../components/Hero.astro';
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
import PojectsSection from '../components/PojectsSection.astro';
import SectionContainer from '../components/SectionContainer.astro';
import RuteIcon from '../icons/RuteIcon.astro';
import DesktopIcon from '../icons/DesktopIcon.astro'
import PersonsIcon from "../icons/PersonsIcon.astro"
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import {Contact} from '../components/Contact.jsx'
import SocialPillsSecction from '../components/SocialPillsSecction.astro';
---

<Layout title=" Juan Pablo Riglos, Desarrollador y Programador web 🚀"
description="Bienvenidos a mi porfolio, soy Juan Pablo Riglos, Frontend developer con más de 3 años de experiencia, hecha un vistazo a mis trabajos previos y no dudes en contactarme.">
	<main class="mt-24 sm:mt-64  lg:mt-44">
	<SectionContainer id="top">
		<Hero/>
	</SectionContainer>
	<SectionContainer id="experiencia">
		<header class="flex flex-nowrap gap-4 z-40"> 
			<h2 class="mb-8 text-gray-200/90 font-semibold text-xl text-pretty"> Experiencia 
			</h2>
			<RuteIcon class="text-gray-200/90"/>
		</header>
		<ExperienceTimeline/>
	</SectionContainer>

	<SectionContainer id="proyectos">
		<header class="flex flex-nowrap gap-4 z-40">
			<h2 class="mb-8 text-gray-200/90 font-semibold text-xl text-pretty"> Proyectos </h2>
			<DesktopIcon class="text-gray-200/90"/>
		</header>
		<PojectsSection/>
	</SectionContainer>

	<SectionContainer id="about">
		<AboutMe/>
	</SectionContainer>

	<SectionContainer id="contact">
		<Contact client:visible/>
		<h2 class=" flex gap-4  mt-8 mb-4 text-gray-200/90 font-semibold text-xl text-pretty"> También puedes encontrarme 
			<PersonsIcon/> 
		</h2>
		<SocialPillsSecction/>
	</SectionContainer>
	

	</main>
</Layout>

<style>

</style>
