

<ol class="relative border-s border-orange-500 dark:border-gray-700">                  
    <li class="mb-10 ms-6">            
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-orange-300 dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-orange-500 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="flex items-center mb-2 text-lg font-semibold text-orange-500 ml-3  dark:text-white">Innovateproweb</h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Desde abril 2024, <span class="text-semibolde text-green-500"> actualidad </span></time>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Me desempeño en una pequeña startup que tiene como objetivo principal el lograr soluciones digitales viables y eficientes a los fines de hacer crecer los distintos emprendimientos y empresas de los sus clientes. </p>
   
    </li>

    <!-- =-=-=-===-=-==-=-=-=-=-=-==-=- -->

    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-orange-300 dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-orange-500 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-2 text-lg font-semibold text-orange-500 ml-3  dark:text-white">No Country</h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Desde Febrero del 2024, hasta abril 2024</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">El ciclo se basa en simulaciones laborales grupales, destinadas a ganar experiencia trabajando en un entorno que pretende acercarse al trabajo realizado en una empresa IT. En las mismas adquirí y elevé las famosas habilidades blandas. <br>
        Asimismo, conocí lo que implica trabajar con los distintos sectores que hay detrás del desarrollo de un proyecto para lograr un producto satisfactorio.</p>
    </li>
        <!-- =-=-=-===-=-==-=-=-=-=-=-==-=- -->
    <li class="ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-orange-300 dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-orange-500 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-2 text-lg font-semibold text-orange-500 ml-3  dark:text-white">Freelance Frontend Developer</h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Noviembre 2023, <span  class="text-semibolde text-green-500"> actualidiad</span></time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Comencé con pequeños proyectos familiares, y aplicaciones a los fines de continuar aprendiendo mientras afrontaba los distintos cursos. Hoy en día, el tiempo y la experiencia me trajeron a una posición donde me siento mucho más cómodo a la hora de decidir las tecnologías a utilizar según como se adapten al tamaño y modelo de negocio requerido. </p>
    </li>
</ol>

