---

---

<header class="min-h-20  mt-2 w-1/2 m-auto
sm:bg-gradient-to-t sm:from-gray-900 sm:via-zinc-900 sm:to-gray-900
sm:border-b-2 sm:rounded-full sm:flex sm:justify-between
 xl:w-10/12 
 sm:fixed  sm:z-10 sm:top-0  sm:-right-10">

<img class=" hidden sm:block size-20 aspect-square p-1 rounded-full ring-2  ring-gray-300 dark:ring-gray-500" src="/misimagenes/brazosCruzados.jpg" alt="Bordered avatar">

    <nav class=" flex flex-col
    sm:flex-row
    sm:border
    sm:w-2/3
    md:border-orange-500
     lg:w-10/12  items-center gap-4
     justify-center">
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#top"> Inicio</a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#experiencia"> Experiencia </a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#proyectos"> Poyectos </a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#about" class="flex flex-nowrap"> Sobre mi</a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#contact"> Contacto</a> 
    </nav>
</header>