---
import NavButton from "./NavButton.astro"
---

<header class=" min-h-40  
sm:flex sm:justify-end m-4">
    <nav class="
    max-w-[600px]
     w-full flex flex-col gap-4
     sm:flex-row">
      <NavButton> <a href="/"> Inicio</a></NavButton> 
      <NavButton> <a href="/projects"> Poyectos </a> </NavButton>
      <NavButton> <a href="/about" class="flex flex-nowrap"> Sobre mi</a> </NavButton>
      <NavButton> <a href="/contact"> Contacto</a> </NavButton>
    </nav>
</header>