---

---

<header class=" min-h-40  
sm:flex sm:justify-end m-4">
    <nav class="
     w-full flex flex-col items-center gap-4
     sm:flex-row justify-center">
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#top"> Inicio</a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#experiencia"> Experiencia </a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#proyectos"> Poyectos </a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#about" class="flex flex-nowrap"> Sobre mi</a> 
     <a class=" text-gray-500/90 hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#contact"> Contacto</a> 
    </nav>
</header>