---

---
<header class="flex flex-row justify-center
 sm:flex-row sm:justify-between
 lg:ml-5 mt-3">

<!-- <img class="hidden sm:block size-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="/misimagenes/brazosCruzados.jpg" alt="Bordered avatar"> -->
<div class="rounded-full overflow-hidden flex items-center justify-center
 sm:fixed sm:top-5 sm:left-5 sm:bg-zinc-900/90 z-10"> 
<img 
class="" src="/misimagenes/navImgDegradeByN.png" alt="">
</div>


    <nav class="z-50
    flex flex-col gap-4 items-center  
    sm:flex-row sm:gap-6 sm:h-fit sm:rounded-s-3xl sm:p-3 sm:pl-6 sm:fixed sm:top-5 sm:right-0 sm:bg-zinc-900/90
    lg:gap-12
    ">
     <a class=" text-gray-500/90 text-base hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#top"> Inicio</a> 
     <a class=" text-gray-500/90 text-base hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#experiencia"> Experiencia </a> 
     <a class=" text-gray-500/90 text-base hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#proyectos"> Poyectos </a> 
     <a class=" text-gray-500/90 text-base hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#about" class="flex flex-nowrap"> Sobre mi</a> 
     <a class=" text-gray-500/90 text-base hover:cursor-pointer hover:text-orange-500  hover:border-b" href="#contact"> Contacto</a> 
    </nav>
</header>