---
import LinkedInIcon from "../icons/SocialIcons/LinkedInIcon.astro";
import GithubIcon from "../icons/SocialIcons/GithubIcon.astro";
import GmailIcon from "../icons/SocialIcons/GmailIcon.astro";
import FileDownload from "../icons/FileDownload.astro";
---
<nav class=" mx-auto flex gap-4 justify-around flex-wrap text-gray-200/90">
    <div class="pillShadow size-auto pl-2 rounded-xl bg-gray-700/30 opacity-55 flex items-center justify-between overflow-hidden gap-3 hover:text-gray-100 hover:opacity-90"> <a href="https://github.com/JuanPabloRiglos" target="_blank">Github </a> <GithubIcon class="size-6"/> </div>
    <div class="pillShadow size-auto pl-2 rounded-xl bg-gray-700/30 opacity-55 flex items-center justify-between overflow-hidden gap-3  hover:text-gray-100 hover:opacity-90"> <a href="https://www.linkedin.com/in/juanpabloriglos/" target="_blank"> Linkedin </a><LinkedInIcon class="size-6 rounded-xl"/> </div>
    <div class="pillShadow size-auto pl-2 rounded-xl bg-gray-700/30 opacity-55 flex items-center justify-between overflow-hidden gap-3  hover:text-gray-100 hover:opacity-90">juanpabloriglos@gmail.com <GmailIcon class="size-6 rounded-xl"/> </div>
    <div class="pillShadow size-auto pl-2 rounded-xl bg-gray-700/30 opacity-55 flex items-center justify-between overflow-hidden gap-3  hover:text-gray-100 hover:opacity-90 hover:cursor-pointer">
        <a class="flex" href="/pdf/JuanPabloRiglos-Mayo24.pdf" target="_blank" rel="noopener noreferrer">  Descarga CV </a><FileDownload class="size-6 rounded-xl  text-orange-300"/>
        </div>
</nav>


<style>
    .pillShadow:hover{
box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
</style>